@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 639px) {
  h1 {
    font-size: 56px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 26px;
  }
  h5 {
    font-size: 24px;
  }
}
html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
}

.flex {
  display: flex;
}
.flex-justcont-c {
  justify-content: center;
}
.flex-justcont-sb {
  justify-content: space-between;
}
.flex-alignit-c {
  align-items: center;
}
.flex-dir-col {
  flex-direction: column;
}
.flex-dir-col-rev {
  flex-direction: column-reverse;
}

:root {
  --primary: #105384;
  --secondary: #3186C4;
  --accent: #5833EE;
  --danger: #ff0000;
  --bg: #F0F0F0;
  --grey: #A4A4A4;
}

header {
  margin: 19px 240px 19px 240px;
  align-items: center;
}
header .logo {
  font-size: 28px;
}
header .logo a {
  color: var(--primary) !important;
  text-decoration: none;
}
header .header-btns {
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  margin-left: 16px;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
header .header-btns:hover {
  background-color: var(--primary);
  color: var(--bg);
}

@media screen and (max-width: 639px) {
  header {
    margin: 16px 32px 16px 23px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  header {
    margin: 32px 120px 32px 120px;
  }
}
.content {
  background-color: var(--primary);
  padding: 0 0 0 240px;
  height: 100vh;
  align-items: center;
}
.content-text {
  width: 540px;
  color: var(--bg);
}
.content h5 {
  padding-top: 32px;
  font-weight: 400;
}
.content h5 .home-button {
  cursor: pointer;
  border: 1px solid var(--bg);
  background-color: transparent;
  color: var(--bg);
  padding: 5px 15px 5px 15px;
  border-radius: 30px;
  transition: all 100ms ease-in-out;
  text-decoration: none;
}
.content h5 .home-button:hover {
  border: 1px solid var(--primary);
  background-color: var(--bg);
  color: var(--primary);
}

@media screen and (max-width: 639px) {
  .content {
    padding: 0 32px 0 32px;
    height: calc(100vh - 68px);
  }
  .content-text {
    padding-top: 32px;
    width: auto;
  }
  .content h5 {
    padding-top: 32px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .content {
    padding: 0 120px 0 120px;
  }
  .content-text {
    padding-top: 48px;
    width: auto;
  }
}
@media screen and (max-width: 1024px) {
  .content-text {
    text-align: center;
  }
  .mobile {
    flex-direction: column;
  }
}
.login {
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--bg);
}
.login h4 {
  padding-bottom: 16px;
}
.login-block {
  width: 328px;
  height: 400px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid var(--bg);
  text-align: center;
}
.login form {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.login form tr {
  display: block;
  padding-bottom: 40px;
}
.login form tr:last-child {
  padding-bottom: 40px;
}
.login tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-btn {
  cursor: pointer;
  border: 1px solid var(--bg);
  background-color: transparent;
  color: var(--bg);
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 32px;
  transition: all 100ms ease-in-out;
}
.login-btn:hover {
  border: 1px solid var(--primary);
  background-color: var(--bg);
  color: var(--primary);
}
.login-error {
  color: var(--danger);
}

.message {
  width: 328px;
  padding-top: 16px;
  text-align: center;
}

.logout {
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--bg);
}
.logout a {
  color: var(--bg);
  text-underline-offset: 1px;
  transition: all 150ms ease-in-out;
}
.logout a:hover {
  text-underline-offset: 5px;
}

.reset {
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--bg);
}
.reset a {
  color: var(--bg);
  text-underline-offset: 1px;
  transition: all 150ms ease-in-out;
}
.reset a:hover {
  text-underline-offset: 5px;
}
.reset-block {
  width: 328px;
  height: 400px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid var(--bg);
  text-align: center;
}
.reset-email-text {
  padding-right: 8px;
}
.reset-btn {
  cursor: pointer;
  border: 1px solid var(--bg);
  background-color: transparent;
  color: var(--bg);
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  font-size: 16px;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 16px;
  transition: all 100ms ease-in-out;
}
.reset-btn:hover {
  border: 1px solid var(--primary);
  background-color: var(--bg);
  color: var(--primary);
}
.reset-title {
  padding-bottom: 16px;
}
.reset tbody {
  display: flex;
  flex-direction: column;
}

.tracker {
  background-color: var(--primary);
  height: 100vh;
  padding-top: 24px;
  justify-content: center;
}
.tracker-block {
  width: 1200px;
  height: 716px;
  border: 1px solid var(--bg);
  background-color: transparent;
  border-radius: 20px;
}
.tracker-block-first {
  margin-top: 24px;
  margin-left: 24px;
  height: 668px;
  width: 294px;
  border: 1px solid var(--bg);
  background-color: transparent;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */