<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bugtracker{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
<body>
    <header class="flex flex-justcont-sb">
        <h5 class="logo"><a href="{% url 'index' %}">Logo</a></h5>
        <div>
            <a href="{% url 'index' %}" class="header-btns">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="header-btns">Log out</a>
            {% else %}
                <a href="{% url 'login' %}" class="header-btns">Log in</a>
            {% endif %}
        </div>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>