<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bugtracker{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
<body>
    <!-- Add if to check if user is logged in -->
    <header class="flex flex-justcont-sb">
        <h5 class="logo">Logo</h5>
        <div>
            <a href="/">Home</a>
            <a>Log in</a> <!-- This will work for the Auth0 app -->
        </div>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>