<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bugtracker{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
<body>
    <header class='flex flex-justcont-sb'>
        <h5 class='logo'>Logo</h5>
        <div>
            <a>Home</a>
            <button>Log in</button>
        </div>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>