@use '../globals/typography' as *;

header{
    margin: 19px 240px 19px 240px;
    align-items: center;

    .logo{
        font-size: 28px;
        
        a{
            color: var(--primary) !important;
            text-decoration: none;
        }
    }

    .header-btns{
        border: 1px solid var(--primary);
        background-color: transparent;
        color: var(--primary);
        margin-left: 16px;
        padding: 5px 10px 5px 10px;
        border-radius: 20px;
        font-size: 14px;
        text-decoration: none;

        cursor: pointer;

        transition: all 100ms ease-in-out;

        &:hover{
            background-color: var(--primary);
            color: var(--bg);
        }
    }
}

@media screen and (max-width: 639px){
    header{
        margin: 16px 32px 16px 23px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px){
    header{
        margin: 32px 120px 32px 120px;
    }
}