@use '../globals/typography' as *;

header{
    padding: 19px 240px 19px 240px;
    align-items: center;
    background-color: var(--bg);

    .logo{
        font-size: 28px;
        
        a{
            color: var(--primary) !important;
            text-decoration: none;
        }
    }

    .header-btns{
        border: 1px solid var(--primary);
        background-color: transparent;
        color: var(--primary);
        margin-left: 16px;
        padding: 5px 10px 5px 10px;
        border-radius: 20px;
        font-size: 14px;
        text-decoration: none;

        cursor: pointer;

        transition: all 100ms ease-in-out;

        &:hover{
            background-color: var(--primary);
            color: var(--bg);
        }
    }

    .menu{
        cursor: pointer;

        span{
            display: block;
            width: 24px;
            height: 2px;

            background-color: var(--primary);

            margin-bottom: 4px;

            transition: all 150ms ease-in-out;

            &:last-child{
                margin-bottom: 0px;
            }
        }

        &.open{
            span{
                transform: rotate(1turn) scale(0);

                &:first-child{
                    transform: rotate(0.125turn);
                    translate: 0px 6px;
                }
                &:last-child{
                    transform: rotate(-0.125turn);
                    translate: 0px -6px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .overlay{
        position: absolute;
        display: block;
        visibility: hidden;
        background-color: var(--bg);
        width: 100%;
        transform: scale(0%), translate(-100%, -100%);
        transition: all 150ms ease-in-out;
    
        &-main{
            width: 100%;
        }
    
        a{
            display: block;
            margin-top: 8px;
            padding-top: 8px;
            margin-bottom: 8px;
            padding-bottom: 8px;
            text-decoration: none;
            color: var(--primary);
            font-size: 16px;
            text-align: center;
    
            &:first-child{
                margin-top: 16px;
                padding-top: 16px;
            }
    
            &:last-child{
                margin-bottom: 16px;
                padding-bottom: 16px;
            }
        }
    
        &-active{
            visibility: visible;
            transform: scale(100%), translate(100%, 100%);
        }
    }
}

@media screen and (max-width: 639px){
    header{
        padding: 16px 32px 16px 23px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px){
    header{
        padding: 32px 120px 32px 120px;
    }
}
