@use '../globals/typography' as *;

.logout{
    min-height: 100vh;
    background-color: var(--primary);

    color: var(--bg);

    a{
        color: var(--bg);
        text-underline-offset: 1px;
        
        transition: all 150ms ease-in-out;

        &:hover{
            text-underline-offset: 5px;
        }
    }
}