.new{
    color: var(--bg);
    padding: 24px 240px 24px 240px;

    #id_name{
        width: 100%;
        margin-bottom: 16px;
    }

    #id_title{
        width: 100%;
        margin-bottom: 16px;
    }

    #id_description{
        width: 100%;
        margin-bottom: 16px;
    }

    button{
        cursor: pointer;
        border: 1px solid var(--bg);
        background-color: transparent;
        color: var(--bg);
        padding: 5px 15px 5px 15px;
        margin-top: 24px;
        border-radius: 30px;
        transition: all 100ms ease-in-out;
        text-decoration: none;
        
        &:hover{
            border: 1px solid var(--primary);
            background-color: var(--bg);
            color: var(--primary);
        }
    }
}


@media screen and (min-width: 640px) and (max-width: 1024px){
    .new{
        padding: 0 120px 0 120px;
    }
}

@media screen and (max-width: 639px){
    .new{
        padding: 0 32px 0 32px;

        #id_description{
            width: calc(100vw - 64px);
        }
    }
}

