.profile{
    padding: 24px 240px 24px 240px;
    color: var(--bg);
    
    a{
        font-size: 20px;
        color: var(--bg);
        width: fit-content;
        text-underline-offset: 1px;
        transition: all 150ms ease-in-out;

        &:hover{
            text-underline-offset: 4px;
        }
    }
}

@media screen and (max-width: 639px) {
    .profile{
        padding: 8px 32px 8px 32px;
    }    
}