.tracker{
    background-color: var(--primary);
    min-height: calc(100vh - 120px);
    padding-top: 24px;
    justify-content: center;

    &-active{
        color: var(--primary) !important;

        li{
            padding-left: 4px;
            background-color: var(--bg);
        }
    }

    &-before{
        padding-bottom: 8px;

        color: var(--bg);
        &-nick{
            color: var(--bg);
        }
    }
    
    &-block{
        width: 1200px;
        height: 716px;
        border: 1px solid var(--bg);
        background-color: transparent;

        border-radius: 20px;

        &-first{
            margin-top: 24px;
            margin-left: 24px;
            height: 668px;
            width: 294px;
            border: 1px solid var(--bg);
            background-color: transparent;
            border-radius: 20px;

            &-text{
                height: 100%;
                color: var(--bg);
                overflow: auto;
                padding: 8px 16px 0 16px;

                &-create{
                    cursor: pointer;
                    border: 1px solid var(--bg);
                    background-color: transparent;
                    color: var(--bg);
                    padding: 0 10px 0 10px;
                    border-radius: 30px;
                    transition: all 100ms ease-in-out;
                    text-decoration: none;
                    width: fit-content;
                    
                    &:hover{
                        border: 1px solid var(--primary);
                        background-color: var(--bg);
                        color: var(--primary);
                    }
                }

                ul{
                    padding-left: 0px;

                    a{
                        color: var(--bg);
                        text-decoration: none;
                    }
                }
                
                li{
                    list-style: none;
                }
            }
        }

        &-second{
            margin-top: 24px;
            margin-left: 24px;

            &-search{
                height: 40px;
                width: 834px;

                margin-bottom: 16px;

                border: 1px solid var(--bg);
                color: var(--bg);
                background-color: transparent;
                border-radius: 20px;
                padding: 16px;

                &::placeholder{
                    opacity: 1;
                    color: var(--bg);
                }
            }

            &-tickets{
                height: 564px;
                width: 834px;

                border: 1px solid var(--bg);
                color: var(--bg);
                background-color: transparent;
                border-radius: 20px;
                overflow: scroll;

                margin-bottom: 16px;

                &-text{
                    height: 100%;
                    width: 834px;
                    overflow: scroll;
                    padding-left: 0;
                    margin: 0;
                    
                    a{
                        color: var(--bg);
                        text-decoration: none;
                    }
                }
                
            }

            &-issue{
                cursor: pointer;
                border: 1px solid var(--bg);
                background-color: transparent;
                color: var(--bg);
                height: 32px;
                width: 112px;
                border-radius: 100px;
                transition: all 100ms ease-in-out;
                text-decoration: none;
                
                &:hover{
                    border: 1px solid var(--primary);
                    background-color: var(--bg);
                    color: var(--primary);
                }
            }

            &-border{
                margin-top: 2px;
                margin-bottom: 2px;
                border-bottom: 1px solid var(--bg);
            }

            &-categories{
                position: relative;
                padding-left: 16px;
                padding-right: 16px;
                white-space: nowrap;

                :first-child{
                    padding-left: 0;
                    min-width: 400px;
                    overflow: clip;
                }

                :nth-child(2){
                    padding-left: 4px;
                    min-width: 156px;
                    border-left: 1px solid var(--bg);
                }

                :nth-child(3){
                    padding-left: 4px;
                    border-left: 1px solid var(--bg);
                }
            }
        }
    }

}

.ticket{
    background-color: var(--primary);
    min-height: calc(100vh - 120px);
    padding: 24px 240px 0 240px;
    color: var(--bg);

    &-dates{
        margin-top: 16px;
        margin-bottom: 16px;
    }

    &-description{
        padding-top: 16px;
    }

    &-padding{
        &-title{
            padding-right: 24px;
        }
    }

    &-confirm{
        &-dn{
            display: none;
        }
    }

    &-buttons{
        :nth-child(2){
            margin-left: 16px;
        }
    }

    &-edit{
        cursor: pointer;
        padding: 5px;
        white-space: nowrap;
        border: 1px solid var(--bg);
        background-color: transparent;
        color: var(--bg);
        height: 32px;
        min-width: 40px;
        border-radius: 100px;
        transition: all 100ms ease-in-out;
        text-decoration: none;
        
        &:hover{
            border: 1px solid var(--primary);
            background-color: var(--bg);
            color: var(--primary);
        }
    }

    a{
        color: var(--bg);
    }
}

.project-buttons{
    margin-top: auto;
    padding-bottom: 24px;
}

@media screen and (max-width: 809px) {
    .tracker{
        padding-top: 8px;
        height: 110%;

        &-before{
            padding-top: 0px;
        }

        &-block{
            height: fit-content;
            width: 95vw;
            align-items: center;

            flex-direction: column;

            &-first{
                width: 95%;
                height: 25vh;
                padding: 4px;
                margin-top: 8px;
                margin-left: 0;

                &-text{
                    &-title{
                        padding: 0;
                        padding-left: 8px;
                    }

                    &-create{
                        margin: 0;
                        margin-right: 8px;
                    }
                }
            }

            &-second{
                height: 50vh;
                width: 95%;
                margin: 0;
                margin-top: 8px;

                &-search{
                    width: 100%;
                    margin-bottom: 8px;
                }

                &-tickets{
                    height: 520px;
                    width: 100%;
                    margin-bottom: 8px;
                }

                &-issue{
                    margin-bottom: 8px;
                }
            }
        }
    }
}

@media screen and (min-width: 810px) and (max-width: 1279px) {
    .tracker{
        padding-top: 8px;

        &-before{
            padding-top: 0px;
        }

        &-block{
            height: fit-content;
            width: 95vw;

            flex-direction: row;

            &-first{
                width: 50%;
                padding: 4px;
                margin-top: 16px;
                margin-left: 16px;
                margin-right: 8px;
                margin-bottom: 16px;

                &-text{
                    &-title{
                        padding: 0;
                        padding-left: 8px;
                    }

                    &-create{
                        margin: 0;
                        margin-right: 8px;
                    }
                }
            }

            &-second{
                position: relative;
                margin: 0;
                margin-top: 16px;
                margin-right: 8px;
                margin-bottom: 8px;
                overflow: hidden;

                &-search{
                    position: relative;
                    width: 100%;
                    margin-bottom: 8px;
                }

                &-tickets{
                    height: 580px;
                    width: 100%;
                    margin-bottom: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .ticket{
        padding: 8px 32px 8px 32px;

        &-dates{
            flex-direction: column;
        }

        &-buttons{
            flex-direction: column;

            :nth-child(2){
                margin-top: 16px;
                margin-left: 0;
            }
        }

        &-edit{
            width: fit-content;
            margin-left: 0;
        } 
    }

    .mobile{
        flex-direction: column;
    }
}

