.tracker{
    background-color: var(--primary);
    height: 100%;
    padding-top: 24px;
    justify-content: center;


    &-before{
        padding-bottom: 8px;

        color: var(--bg);
        &-nick{
            color: var(--bg);
        }
    }
    
    &-block{
        width: 1200px;
        height: 716px;
        border: 1px solid var(--bg);
        background-color: transparent;

        border-radius: 20px;

        &-first{
            margin-top: 24px;
            margin-left: 24px;
            height: 668px;
            width: 294px;
            border: 1px solid var(--bg);
            background-color: transparent;
            border-radius: 20px;

            &-text{
                height: 100%;
                color: var(--bg);
                overflow: auto;
                padding: 8px 16px 0 16px;

                &-create{
                    cursor: pointer;
                    border: 1px solid var(--bg);
                    background-color: transparent;
                    color: var(--bg);
                    padding: 0 10px 0 10px;
                    border-radius: 30px;
                    transition: all 100ms ease-in-out;
                    text-decoration: none;
                    width: fit-content;
                    
                    &:hover{
                        border: 1px solid var(--primary);
                        background-color: var(--bg);
                        color: var(--primary);
                    }
                }

                ul{
                    padding-left: 0px;

                    a{
                        color: var(--bg);
                        text-decoration: none;
                    }
                }
                
                li{
                    list-style: none;
                }
            }
        }

        &-second{
            margin-top: 24px;
            margin-left: 24px;

            &-search{
                height: 40px;
                width: 834px;

                margin-bottom: 16px;

                border: 1px solid var(--bg);
                background-color: transparent;
                border-radius: 20px;
            }

            &-tickets{
                height: 564px;
                width: 834px;

                border: 1px solid var(--bg);
                color: var(--bg);
                background-color: transparent;
                border-radius: 20px;

                margin-bottom: 16px;

                &-text{
                    height: 100%;
                    width: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                    padding-left: 0;
                    margin: 0;
                    
                    li{
                        padding-left: 16px;
                        list-style: none;
                    }
                    
                    a{
                        color: var(--bg);
                        text-decoration: none;
                    }
                }
                
            }

            &-issue{
                cursor: pointer;
                border: 1px solid var(--bg);
                background-color: transparent;
                color: var(--bg);
                height: 32px;
                width: 112px;
                border-radius: 100px;
                transition: all 100ms ease-in-out;
                text-decoration: none;
                
                &:hover{
                    border: 1px solid var(--primary);
                    background-color: var(--bg);
                    color: var(--primary);
                }
            }

            &-border{
                width: 100%;
                margin-top: 2px;
                margin-bottom: 2px;
                border-bottom: 1px solid var(--bg);
            }

            &-categories{
                padding-left: 16px;
            }
        }
    }

}

.ticket{
    background-color: var(--primary);
    height: 100%;
    padding: 24px 240px 0 240px;
    color: var(--bg);

    &-description{
        padding-top: 16px;
    }

    &-edit{
        cursor: pointer;
        border: 1px solid var(--bg);
        background-color: transparent;
        color: var(--bg);
        height: 32px;
        width: 112px;
        border-radius: 100px;
        transition: all 100ms ease-in-out;
        text-decoration: none;
        
        &:hover{
            border: 1px solid var(--primary);
            background-color: var(--bg);
            color: var(--primary);
        }
    }
}

@media screen and (max-width: 809px) {
    .tracker{
        padding-top: 8px;
        height: 110%;

        &-before{
            padding-top: 0px;
        }

        &-block{
            height: fit-content;
            width: 95vw;
            align-items: center;

            flex-direction: column;

            &-first{
                width: 95%;
                height: fit-content;
                padding: 4px;
                margin-top: 8px;
                margin-left: 0;

                &-text{
                    &-title{
                        padding: 0;
                        padding-left: 8px;
                    }

                    &-create{
                        margin: 0;
                        margin-right: 8px;
                    }
                }
            }

            &-second{
                width: 95%;
                margin: 0;
                margin-top: 8px;

                &-search{
                    width: 100%;
                }

                &-tickets{
                    height: 520px;
                    width: 100%;
                    margin-bottom: 8px;
                }

                &-issue{
                    margin-bottom: 8px;
                }
            }
        }
    }
}

@media screen and (min-width: 810px) and (max-width: 1279px) {
    .tracker{
        padding-top: 8px;

        &-before{
            padding-top: 0px;
        }

        &-block{
            height: fit-content;
            width: 95vw;

            flex-direction: row;

            &-first{
                width: 50%;
                padding: 4px;
                margin-top: 16px;
                margin-left: 16px;
                margin-right: 8px;
                margin-bottom: 16px;

                &-text{
                    &-title{
                        padding: 0;
                        padding-left: 8px;
                    }

                    &-create{
                        margin: 0;
                        margin-right: 8px;
                    }
                }
            }

            &-second{
                position: relative;
                width: calc(95vw - 318px);
                margin: 0;
                margin-top: 16px;
                margin-right: 8px;
                margin-bottom: 8px;

                &-search{
                    position: relative;
                    width: 100%;
                    margin-bottom: 8px;
                }

                &-tickets{
                    height: 580px;
                    width: 100%;
                    margin-bottom: 8px;
                }
            }
        }
    }
}