{% extends "header.html" %}

{% block body %}
<div class="flex flex-justcont-sb tracker">
    <div>
        <div class="flex flex-alignit-c flex-justcont-sb tracker-before">
            <h4 class="tracker-before-nick">{{ profile.username }}</h4>
        </div>
        <div class="flex tracker-block">
            <div class="tracker-block-first">
                <div class="flex flex-dir-col tracker-block-first-text">
                    <div class="flex flex-justcont-sb">
                        <h5 class="tracker-block-first-text-title">Projects</h5>
                        {% if user.id == profile.id %}
                        <div class="flex flex-justcont-c flex-alignit-c">
                            <a href="{% url 'new-project' user.id %}" class="tracker-block-first-text-create">New project</a>
                        </div>
                        {% endif %}
                    </div>
                    <ul class="tracker-block-first-text-list">
                        {% for project in projects %}
                            {% if project.public == 1 %}
                                {% if project.permalink == theproject.permalink %}
                                    <a href="{% url 'project' profile.id project.permalink %}" class="tracker-active"><li>{{ project.name }}</li></a>
                                {% else %}
                                    <a href="{% url 'project' profile.id project.permalink %}"><li>{{ project.name }}</li></a>
                                {% endif %}
                            {% else %}
                                {% if user.id == project.author.id %}
                                    {% if project.permalink == theproject.permalink %}
                                        <a href="{% url 'project' profile.id project.permalink %}" class="tracker-active"><li>{{ project.name }}</li></a>
                                    {% else %}
                                        <a href="{% url 'project' profile.id project.permalink %}"><li>{{ project.name }}</li></a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if forloop.last %}
                            {% else %}
                                <div class="tracker-block-second-border">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="flex flex-dir-col tracker-block-second">
                <form action="{% url 'project' profile.id theproject.permalink %}" method="post">
                    {% csrf_token %}
                    <input type="search" placeholder="Search for tickets..." name="q" class="tracker-block-second-search">
                </form>
                <div class="tracker-block-second-tickets">
                    <div class="flex tracker-block-second-categories">
                        <p>Title</p>
                        <p>Priority</p>
                        <p>Last updated</p>
                    </div>
                    <div class="tracker-block-second-border"></div>
                    <ul class="tracker-block-second-tickets-text">
                        {% for ticket in tickets %}
                            {% if ticket.public == 1 %}
                                <a href="{% url 'ticket' profile.id ticket.project.permalink ticket.permalink %}" class="flex tracker-block-second-categories"><p>{{ ticket.title }}</p><p>{{ ticket.get_priority_display }}</p>{% if ticket.edited_on %}<p>{{ ticket.edited_on }}</p>{% else %}<p>{{ ticket.created_on }}</p>{% endif %}</a>
                                <div class="tracker-block-second-border"></div>
                            {% else %}
                                {% if user.id == ticket.author.id %}
                                <a href="{% url 'ticket' profile.id ticket.project.permalink ticket.permalink %}" class="flex tracker-block-second-categories"><p>{{ ticket.title }}</p><p>{{ ticket.get_priority_display }}</p>{% if ticket.edited_on %}<p>{{ ticket.edited_on }}</p>{% else %}<p>{{ ticket.created_on }}</p>{% endif %}</a>
                                <div class="tracker-block-second-border"></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% if user.id == profile.id %}
                <div class="flex flex-dir-row-rev">
                    <a href="{% url 'new-ticket' user.id theproject.permalink %}" class="flex flex-justcont-c flex-alignit-c tracker-block-second-issue">New issue</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
