{% extends "header.html" %}

{% block body %}
<div class="flex flex-dir-col ticket">
    <h3>{{ profile.username }}</h3>
    <a href="{% url 'project' profile.id project.permalink %}" style="width: fit-content">Return to the bug tracker</a>
    <div class="flex flex-justcont-sb mobile">
        <div class="flex flex-dir-col">
            <h4 class="ticket-padding-title">{{ ticket.project.name }}: {{ ticket.title }}</h4>
            <div class="flex ticket-dates">
                <h5 class="ticket-padding-title">Posted: {{ ticket.created_on }}</h5>
                {% if ticket.edited_on != None %}
                    <h5>Edited: {{ ticket.edited_on }}</h5>
                {% endif %}
            </div>
        </div>
        <div class="flex ticket-buttons">
            <a href="{% url 'edit-ticket' profile.id project.permalink ticket.permalink %}" class="flex flex-justcont-c flex-alignit-c ticket-edit">Edit ticket</a>
            {% if user.id == project.author.id %}
            <div>
                <a id="delete-button" class="flex flex-justcont-c flex-alignit-c ticket-edit">Delete ticket</a>
                <div id="confirmation" class="flex flex-dir-col flex-alignit-c ticket-confirm-dn">
                    <p>Are you sure?</p>
                    <div class="flex">
                        <a id="conf-yes" href="{% url 'delete-ticket' profile.id project.permalink ticket.permalink %}" class="flex flex-justcont-c flex-alignit-c ticket-edit">Yes</a>
                        <a id="conf-no" class="flex flex-justcont-c flex-alignit-c ticket-edit">No</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <p>{{ ticket.get_priority_display }}</p>
    <p>Privacy options: {{ ticket.get_public_display }}</p>
    <p>{{ ticket.get_solved_display }}<p>
    <div class="ticket-description">
        <h5>Description:</h5>
        <p>{{ ticket.description }}</p>
    </div>
</div>
{% endblock %}
