{% extends "header.html" %}

{% block body %}
<div class="flex reset flex-justcont-c flex-alignit-c flex-dir-col">
    <form action="" method="post" class="flex flex-dir-col flex-justcont-c flex-alignit-c">
        {% csrf_token %}
        {% if form.email.errors %}
          {{ form.email.errors }}
        {% endif %}
        <div class="flex flex-dir-col flex-alignit-c">
            <h5 class="reset-title">
                Reset your password:
            </h5>
            <div class="flex">
                <p class="reset-email-text">
                    Email:
                </p>
                <p>{{ form.email }}</p>
            </div>
        </div>
          <input type="submit" value="Reset password" class="reset-btn">
        </form>
    <h5>
        Click <a href="{% url 'index' %}">here</a> to go to the main page or <a href="{% url 'login' %}">here</a> to log in.
    </h5>
</div>
{% endblock %}