{% extends "header.html" %}

{% block body %}
<div class="flex flex-justcont-c flex-alignit-c login flex-dir-col">
    {% if form.errors and request.method == "POST" %}
    {{ form.non_field_errors }}
    {% for field.errors in form.errors %}
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
    {% endfor %}
    {% endif %}
    <div class="flex flex-alignit-c flex-dir-col flex-justcont-c login-block">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="register">Next</button>
        </form>
    </div>
</div>

{% endblock %}

