{% extends "header.html" %}

{% block body %}
<div class="flex flex-justcont-c flex-alignit-c mobile">
    <div class="content-text">
        <h1>BugTracker</h1>
        <h3>An easier way to keep track of your projects</h3>
        <h5 class="flex flex-justcont-c">
            {% if user.is_authenticated %}
                <a href="{% url 'tracker' user.id %}" class="home-button">Get started</a>
            {% else %}
                <a href="{% url 'login' %}" class="home-button">Get started</a>
            {% endif %}
        </h5>
    </div>
    {% load static %}
</div>
<div class="flex flex-justcont-c">
    <img src="{% static 'bugtracker-desktop.png' %}" alt="Bugtracker example" loading="lazy" class="image image-desktop">
    <img src="{% static 'bugtracker-mobile.png' %}" alt="Bugtracker example" loading="lazy" class="image image-mobile">
</div>
{% endblock %}
